#wikiedit textarea {width:100%;margin:0;padding:0}
table.horiz td.markup1 {width:23em; border-right:1px solid #ccc}
table.markup {border:1px solid #888; width:90%;height:2.5ex}
td.markup1 {border-bottom:1px solid #888}
a.createlinktext {text-decoration:underline;border-bottom:none}
a.createlink {border-bottom:none}
a:link.createlink, a:visited.createlink, a:hover.createlink, a:active.createlink {font-weight: normal;font-size:80%;border-bottom:none;text-decoration:none}
.diffbox {width:100%}
.difftime {padding:1px 5px;font-size:9pt}
.diffauthor {font-size:9pt}
.wikimessage {margin-top:4px; margin-bottom:4px;font-style:italic}
