body {font-size:10pt;font-family:verdana,arial,helvetica,sans-serif;margin:15px auto;padding:0;background-color:#aaa}
body h1 {display:none}
input {vertical-align:middle;border:1px solid #ccc;background-color:#fff;padding:0.3ex;margin:0.5ex}
textarea {border:1px solid #ccc;background-color:#eee;margin:0;padding:0}
form {margin:1pt;padding:0}

h1, h2, h3, h4, h5, h6 {font-weight:normal;font-family:trebuchet,"trebuchet ms",verdana,arial,helvetica,sans-serif;color: #444}
h1 {font-size:175%}
h2 {font-size:145%}
h3 {font-size:130%}
h4 {font-size:120%}
h5 {font-size:110%}
h6 {font-size:100%;font-weight:normal;font-style:italic}

hr {height: 1px;border-width: 1px 0 0 0;border-style: solid;border-color: #ccc;}

a:link {color: #06c;text-decoration: underline}
a:visited {color:#06c;text-decoration: underline}
a:hover {color:#06c; text-decoration: underline}
a:active {color:#06c;text-decoration: underline}

#wiki-canvas-container {width:768px;margin:0 auto;padding:0;}
#wiki-canvas {width:768px;margin:0;padding:0px;background-color:#fff;border-top:0;}

#wiki-title-border {display:box;margin:5px;padding:0;background-color:#fff;border:0}
#wiki-title {display:box;padding:10px;margin:5px;background-color:#369;border:0}

#wiki-title a:link, .wiki-title a:visited, .wiki-title a:active {
	background-color:transparent;
	color:#fff;
	font-family:trebuchet,"trebuchet ms",verdana,tahoma,serif;
	font-size:25px;
	font-weight:bold;
	text-decoration:none
}
#wiki-title a:hover {background-color:transparent;color:#fff;font-size:25px;font-weight:bold;}

#wiki-title h2  {font-weight:normal;letter-spacing:2px;font-family:verdana,arial,sans-serif;color:#fff;font-size:14px;padding-left:30px;margin:0}

#wiki-action {margin:5px;padding:5px;text-align:right;border:1px solid #ccc;background-color:#eee;}
#wiki-action ul {display:inline;text-align:right;padding:0;margin:0}
#wiki-action li {display:inline;list-style:none;padding:0;margin:0 2px 0 2px}

#wiki-action a:link, #wiki-action a:visited, #wiki-action a:active {border:1px solid transparent;text-decoration: none;padding:2px 5px 2px 5px}
#wiki-action a:hover {background-color: #fff;border:1px solid #ccc;padding:2px 5px 2px 5px}

#wiki-main {line-height:17px;margin:5px;padding:3px 5px 10px 5px ;border-bottom:1px solid #ddd;background-color:white;color: #444}
.wiki-page-title {font-size:23px;font-family:trebuchet,"trebuchet ms",verdana,arial,helvetica,sans serif;margin: 0 0 2px 0;padding:0 0 2px 0;border-bottom:1px solid #ccc}
.wiki-page-info  {padding:0 0 15px 0;color:#888;background-color:transparent;}
.wiki-page-info a:link, .wiki-page-info a:visited, .wiki-page-info a:active {background-color:#fff;color:#888;text-decoration:none}
.wiki-page-info a:hover {background-color:#fff;color:#888;text-decoration:underline}
.sidehead {font-weight:bold;letter-spacing: 2px;border-bottom:1px solid #ccc;background-color:#eee;}
.sidehead a: {font-weight:bold;text-decoration:none;border-bottom:1px solid #ccc;background-color:#eee;}

#wiki-menu {margin:5px;padding:5px;border:1px solid #ccc;background-color:#eee;color:#fff}
#wiki-menu ul {text-align:left;padding:0;margin:0}
#wiki-menu li {list-style:none;border-bottom:1px solid #ccc;margin:0;padding:0 }
#wiki-menu a:link, .wiki-menu a:visited, .wiki-menu a:active {background-color:transparent;text-align:center;display:block;padding:2px;margin:0;color:#369;text-decoration:none}
#wiki-menu a:hover {background-color:#fff;color:#369;text-decoration:none;border:0}

#wiki-foot-container {margin:5px;padding:0;text-align:center;color:#eee}
#wiki-foot {margin:0;padding:5px;text-align:center;color:#eee;background-color:#69c}
